div(ng-hide='!signedIn', ng-cloak, layout='row', layout-align='start', class='navigation fixed brand-black', ng-controller='navController')
  div(class='menu-item')
    a(href='#/' class='menu-link') CherryTask
  div(class='menu-separator')
    i(ng-if='breadcrumbs.project.showing', 
      ng-mouseenter='homeHover = true',
      ng-mouseleave='homeHover = false',
      ng-class='homeHover ? "pe-7s-angle-down" : "pe-7s-angle-right"',
      ng-click='toggleSlideout()', 
      class='icon white pe-7s-angle-right')
  div(ng-if='breadcrumbs.project.showing' class='menu-item')
    a(href='#/projects/{{breadcrumbs.project.value.id}}' class='menu-link') {{breadcrumbs.project.value.title}}

  // Add new project
  div(ng-hide='breadcrumbs.project.showing' class='menu-item')
    md-button(class='menu-link add-new modal-trigger', data-modal='modal-full') Add a new Project

  div(class='menu-separator')
    i(ng-if='breadcrumbs.task.showing', 
      ng-mouseenter='projHover = true',
      ng-mouseleave='projHover = false',
      ng-class='projHover ? "pe-7s-angle-down" : "pe-7s-angle-right"',
      ng-click='toggleSlideout()',  
      class='icon white pe-7s-angle-right')
  div(ng-if='breadcrumbs.task.showing' class='menu-item')
    a(href='#/tasks/{{breadcrumbs.task.value.id}}' class='menu-link') {{breadcrumbs.task.value.title}}

  // Add new Task
  div(ng-hide='breadcrumbs.project.showing === breadcrumbs.task.showing' class='menu-item')
    md-button(class='menu-link add-new modal-trigger', data-modal='modal-full') Add a new Task
    
  div(ng-if='signedIn', class='menu-item user')
    a(href='', class='menu-icon', ng-click='toggleNotifications()')
      i(class='icon icon-lg pe-7s-bell white')
    a(href='', class='menu-icon', ng-click='toggleMenu()')
      div(class="avatar-nav")
        img(src, cherry-avatar)
  
  // Notifications
  cherry-notifications(ng-class='{show: notificationsShowing}')
  
  // Settings Menu
  div(class='card-menu nav arrow-up', ng-class='{show: menuShowing}')
    // div(class='card-menu-item header') Menu 
    div(class='card-menu-item')
      a(href='#/account')
        //i(class='icon pe-7s-user')
        span Profile Settings
    div(class='card-menu-item')
      a(href='#/settings')
        //i(class='icon pe-7s-edit')
        span Application Settings
    // div(class='divider')
    div(class='card-menu-item')
      a(href='')
        //i(class='icon pe-7s-speaker')
        span Report an Issue
    // div(class="divider")
    div(class='card-menu-item')
      a(href='')
        //i(class='icon pe-7s-power')
        span Sign Out

// Slide-out Menu
div(layout='row', class='slide-out-menu' ng-class='{ show : slideoutShowing }')
  div
