div(ng-hide='!signedIn', ng-cloak, layout='row', layout-align='start', class='navigation fixed brand-black', ng-controller='breadcrumbController')
  div(class='menu-item')
    a(href='#/' class='menu-link') CherryTask
  div(class='menu-separator')
    i(ng-if='breadcrumbs.project.showing', 
      ng-mouseenter='homeHover = true',
      ng-mouseleave='homeHover = false',
      ng-class='homeHover ? "pe-7s-angle-down" : "pe-7s-angle-right"',
      ng-click='toggleMenu()', 
      class='icon icon-md white pe-7s-angle-right')
  div(ng-if='breadcrumbs.project.showing' class='menu-item')
    a(href='#/projects/{{breadcrumbs.project.value.id}}' class='menu-link') {{breadcrumbs.project.value.title}}

  // Add new project
  div(ng-hide='breadcrumbs.project.showing' class='menu-item')
    md-button(class='menu-link add-new modal-trigger', data-modal='modal-full') Add a new Project

  div(class='menu-separator')
    i(ng-if='breadcrumbs.task.showing', 
      ng-mouseenter='projHover = true',
      ng-mouseleave='projHover = false',
      ng-class='projHover ? "pe-7s-angle-down" : "pe-7s-angle-right"',
      ng-click='toggleMenu()',  
      class='icon icon-md white pe-7s-angle-right')
  div(ng-if='breadcrumbs.task.showing' class='menu-item')
    a(href='#/tasks/{{breadcrumbs.task.value.id}}' class='menu-link') {{breadcrumbs.task.value.title}}

  // Add new Task
  div(ng-hide='breadcrumbs.project.showing === breadcrumbs.task.showing' class='menu-item')
    md-button(class='menu-link add-new modal-trigger', data-modal='modal-full') Add a new Task
    
  div(ng-if='signedIn', class='menu-item user')
    a(href='', class='menu-icon')
      i(class='icon icon-lg pe-7s-bell white')
    a(href='#/account', class='menu-icon') 
      i(class='icon icon-lg pe-7s-config white')
    a(href='', class='menu-icon')
      i(class='icon icon-lg pe-7s-user white')
div(layout='row', class='slide-out-menu' ng-class='{ show : showMenu }')
  div
